@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('./robotothin-be6.arb-9c7.arb.woff2') format('woff2'), url('./robotothin-620.arb-aca.arb.woff') format('woff'), url('./robotothin-3de.arb-554.arb.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('./robotothinitalic-242.arb-343.arb.woff2') format('woff2'), url('./robotothinitalic-a27.arb-85f.arb.woff') format('woff'), url('./robotothinitalic-785.arb-98a.arb.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('./robotolight-bd7.arb-a79.arb.woff2') format('woff2'), url('./robotolight-4b4.arb-013.arb.woff') format('woff'), url('./robotolight-b98.arb-4c9.arb.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('./robotolightitalic-466.arb-813.arb.woff2') format('woff2'), url('./robotolightitalic-aae.arb-3ad.arb.woff') format('woff'), url('./robotolightitalic-090.arb-02f.arb.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('./roboto-dfe.arb-3a5.arb.woff2') format('woff2'), url('./roboto-a63.arb-e25.arb.woff') format('woff'), url('./roboto-20f.arb-048.arb.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('./robotoitalic-fc1.arb-fad.arb.woff2') format('woff2'), url('./robotoitalic-d4c.arb-7b7.arb.woff') format('woff'), url('./robotoitalic-17b.arb-dd6.arb.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('./robotomedium-498.arb-969.arb.woff2') format('woff2'), url('./robotomedium-4a4.arb-a2f.arb.woff') format('woff'), url('./robotomedium-386.arb-66b.arb.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('./robotomediumitalic-c73.arb-2af.arb.woff2') format('woff2'), url('./robotomediumitalic-944.arb-299.arb.woff') format('woff'), url('./robotomediumitalic-bc0.arb-3fd.arb.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('./robotobold-040.arb-adf.arb.woff2') format('woff2'), url('./robotobold-634.arb-5ac.arb.woff') format('woff'), url('./robotobold-a53.arb-efb.arb.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('./robotobolditalic-28f.arb-003.arb.woff2') format('woff2'), url('./robotobolditalic-879.arb-3c7.arb.woff') format('woff'), url('./robotobolditalic-64a.arb-916.arb.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('./robotoblack-4d9.arb-6a0.arb.woff2') format('woff2'), url('./robotoblack-fee.arb-219.arb.woff') format('woff'), url('./robotoblack-d42.arb-cb9.arb.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('./robotoblackitalic-402.arb-dfd.arb.woff2') format('woff2'), url('./robotoblackitalic-8e4.arb-8a8.arb.woff') format('woff'), url('./robotoblackitalic-285.arb-5c7.arb.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
